* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

/*h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}*/

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu.pure-menu-open {
    background: $purple;
}
.pure-menu.pure-menu-open.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background: $purple;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 100%;
    height: 50%;
    /*margin: auto*/;
    margin-top: 15%;
    position: absolute;
    top: 10px; left: 0; bottom: 0; right: 0;
    text-align: center;
    /*text-transform: uppercase;*/
    color: #fff;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 70%;
    width: 100%;
    min-height: 87%;
    z-index: 2;
    background: white;

}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    background: #111;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }
    /* We want to give the content area some more padding */
    .content {
        padding: 1em;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        /*width: 50%;*/
        /*margin-top: 100px;
        height: 50%;*/

    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}


.rotate1 {
background:  $purple;
display: block;
border: 5px dotted white;
width: 350px;
height: 350px;
border-radius: 50%;
margin-left:auto;
margin-right:auto;
position: absolute;
z-index: 1;

}
.rotate1 {
-webkit-animation: rotate 24s linear infinite;
border: 5px dotted white;
}

.rotate2 {
background:  $purple;
border: 5px dashed white;
width: 300px;
height: 300px;
border-radius: 50%;
/*margin-left:25%;
margin-top:25%;*/
margin:23px;
position: absolute;
z-index: 2;
}
.rotate2 {
-webkit-animation: rotate 6s linear reverse infinite;
border: 5px dashed white;
}
.globe{
width: 230px;
height: 230px;
border-radius: 50%;
padding-top: 4%;
padding-left: 4.75%;
margin-right:auto;

position: absolute;
z-index: 3;
line-height: 120px;
font-size: 23rem;
}
@-webkit-keyframes rotate {
from{
-webkit-transform: rotate(0deg);
}
to{
-webkit-transform: rotate(360deg);
}
}
.circle {
width: 100px;
height: 100px;
background: #F2F2F2;
-moz-border-radius: 70px;
-webkit-border-radius: 70px;
border-radius: 70px;
border: 2px solid #6AC8BC;
line-height:120px;
text-align:center;
vertical-align:middle;
display:inline-block;
}

.placeholder{
    height:450px;
    background-color:#E4E4E4;
}

.tall{
    height: 550px;
}
.gear{
    margin-right: -60px;
}
.gear2{
    margin-top:-8px;
    margin-left:-24px;
}
#gears{
    margin-top: 2%;
    margin-bottom: 2%;
}

.responsive-image{
height:auto;
width:100px;
opacity: 0.4;
}
.heroTop{
    background-color: #F3F5FB;
    color: $purple !important;
    margin-top: 10px;
}
.bordertown{
    border: 1px dotted white;
    color: #fff;
}
.bigText{
    margin-top: 5%;
}
.grey{
    background-color: #E4E4E4;
}

.fff{
    text-align: left;
}

.bigFont{
    font-size: 30px;
    color: #CCCCCC
}

.midFont{
    font-size: 23px;
}

.custBtn{
    background-color: #33BBAA;
    color: #fff;
}
.push{
    margin-left: 10%;
}

.squeeze{
    width: 99%;
    margin-left: 0.5%;
}

.headlines{
    font-size: 50px;
}

.pushDown{
    padding-top: 60px;
}

.bigbtn{
    width: 200px;
    font-size: 30px;
    color: $purple;
    font-weight: bold;
}

.panel3{
    margin-top: 1%
}

.panelHead{
    padding-top: 60px;
}

.purps{
    color: $purple;
}

.enhance{
    color: #33BBAA;
}

.midSqueeze{
    width: 95%;
    margin-left: 2.5%;
}


.spacer {
    width: 0;
    height: 600px;
    float: left;
     clear: both;
}
.zero{ background:#fff; width: 100%; height: 600px; position: relative; float: left; }
.pos1 { background:red; width: 100%; height: 600px; position: relative; float: left; }
.pos2 { background: blue; width: 100%; height: 600px; position: relative; float: left; }
.pos3 { background: green; width: 100%; height: 600px; position: relative; float: left; }
.pos4 { background: yellow; width: 100%; height: 600px; position: relative; float: left; }
.latched { position: fixed; top: 100;  width: 100%; margin-top: 10.5%; }

/* ==========================================================================
Swag
========================================================================== */
.swag { background: url('http://i.imgur.com/UiSljD6.jpg') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-attachment: fixed; padding: 150px 0; }
.swag h1 { color: #fff; font-size: 40px; text-transform: uppercase; letter-spacing: 5px; }
.swag h1 span { display: block; font-size: 25px; margin-top: 20px; }