/* ==========================================================================
Rotating Circles
========================================================================== */
.globeHeight{
	opacity: 0.7;
}

.globeHeightwhite{
	margin-top: 7%;
}


.rotate1 {
background:  $purple;
display: table-cell;
vertical-align: middle;
border: 5px dotted $lightFont;
width: 300px;
height: 300px;
border-radius: 50%;
-moz-border-radius: 50%;
margin-left:auto;
margin-right:auto;
position: absolute;
z-index: 1;
// padding-top: 13%;
// padding-left: 15%;

}
.rotate1 {
/*-webkit-animation: rotate 24s linear infinite;*/
border: 5px dashed $lightFont;
}

.rotate2 {
background:  $purple;
border: 5px dashed $lightFont;
width: 250px;
height: 250px;
border-radius: 50%;
-moz-border-radius: 50%;
/*margin-left:25%;
margin-top:25%;*/
margin:23px;
position: absolute;
z-index: 2;
// padding-top: 13%;
// padding-left: 15%;
display: table-cell;
vertical-align: middle;
}
.rotate2 {
/*-webkit-animation: rotate 6s linear reverse infinite;*/
border: 5px dashed $lightFont;
}

.rotate3 {
background:  #fff;
display: table-cell;
vertical-align: middle;
border: 5px dotted #bdc3c7;
width: 300px;
height: 300px;
border-radius: 50%;
-moz-border-radius: 50%;
margin-left:auto;
margin-right:auto;
position: absolute;
z-index: 1;
padding-top: 13%;
padding-left: 15%;

}
.rotate3 {
/*-webkit-animation: rotate 24s linear infinite;*/
border: 5px dashed #bdc3c7;
}

.rotate4 {
background:  #fff;
border: 5px dashed #bdc3c7;
display: table-cell;
vertical-align: middle;
width: 250px;
height: 250px;
border-radius: 50%;
-moz-border-radius: 50%;
/*margin-left:25%;
margin-top:25%;*/
margin:23px;
position: absolute;
z-index: 2;
padding-top: 13%;
padding-left: 15%;
}
.rotate4 {
/*-webkit-animation: rotate 6s linear reverse infinite;*/
border: 5px dashed #bdc3c7;
}



.globe{
width: 230px;
height: 230px;
border-radius: 50%;
color: #bdc3c7;

/*margin-top: 60px;
margin-left: 19%;*/

padding-top: 19%;
padding-left: 11%;
display: table-cell;
vertical-align: middle;
position: absolute;
z-index: 3;
line-height: 120px;
font-size: 23rem;
}
@-webkit-keyframes rotate {
from{
-webkit-transform: rotate(0deg);
}
to{
-webkit-transform: rotate(360deg);
}
}

.globe2{
width: 230px;
height: 230px;
border-radius: 50%;
color: #0797D4 !important;

/*margin-top: 60px;
margin-left: 19%;*/

padding-top: 19%;
padding-left: 11%;
display: table-cell;
vertical-align: middle;
z-index: 25;
line-height: 120px;
font-size: 23rem;
}
@-webkit-keyframes rotate {
from{
-webkit-transform: rotate(0deg);
}
to{
-webkit-transform: rotate(360deg);
}
}

.globeHeight{
	margin-top: 7%;
}