/* ==========================================================================
Enhance Section
========================================================================== */

.cloudImg{
	padding-top: 20%;
	padding-left: 10%;
}

.responsive-image-enhance{
height:auto;
width:200px;
/*opacity: 0.4;*/
}

.enhBtn{
	width: 150px;
	color: white;
	background-color: $lifesize;
	margin-top: 20%;
	margin-left: 15%;
}

.enhDown{
	padding-top: 10%;
}

.gearDwn{
	padding-top: 8%;
}