/* ==========================================================================
Enhance Section
========================================================================== */

.cloudImg{
	padding-top: 10%;
	padding-left: 8%;
}

.responsive-image-enhance{
height:auto;
width:150px;
/*opacity: 0.4;*/
}

.enhBtn{
	width: 150px;
	color: white !important;
	background-color: $lifesize !important;
	margin-top: 20%;
	// margin-left: 15%;
}

.enhDown{
	padding-top: 25%;
}

.gearDwn{
	padding-top: 8%;
}

.enhUp{
	color: $lifesize;
}

.panel3down{
	padding-top:2%;
}