/* ==========================================================================
Gears
========================================================================== */

.responsive-image{
height:auto;
width:100px;
opacity: 0.4;
}

.gear{
    margin-right: -50px;
}
.gear2{
    margin-top:-8px;
    margin-left:-15px;
}
#gears{
    margin-top: 2%;
    margin-bottom: 2%;
}

.gearshift{
    padding-left: 20px;
}