/* ==========================================================================
Fixed Banner
========================================================================== */
.navPush{
	height: 70px;
	color: $lightFont;
	z-index: 40;
}

.fixedBar{
	margin-top: 2% !important;
	background-color: $purple;
	width: 100%;
	/*margin-left: 2%;*/
	z-index: 30;
	height: auto;
	position: fixed;
	color: $lightFont;
	/*border: 1px dashed $lightFont;*/
}
.fixedBanner{
	width: 96%;
	margin-left: 1%;
	color: $purple;
	
	position: fixed;
	z-index: 20;
	background-color: $bannerBackground;
}
.logo{
	margin-left: 0.5%;
	img{
		padding-top: 0.25%;
		width: 7%;
		height: auto;
	}
}

.bannerInnards{
	padding-top: 6% !important;

}

.navHeader{
	margin-left: 35%;
}



.mobileBanner{
	background-color: $purple;
	color: white;
	height: 100px;
}

.mobileSubHead{
	background-color: $bannerBackground;
	color: $purple;
}

 .headline{
	font-size: 5em;
}

.slimDown{
	width: 98%;
	margin-left: 1%;
}

a{
	text-decoration: none !important;
}

.purpleback{
	background-color: $purple;
}

.paraSize{
	font-size:20px;
}