/* ==========================================================================
Meet
========================================================================== */
.meet{
	background-image: url('http://i.imgur.com/MlGWcy7.png') ;
    background-size: cover;
    height: auto;
    a{
    	color: $lifesize
    }
    a:hover{
    	color: $lifesize
    }
}
.meetwhite{
	  a{
    	color: $lifesize
    }
    a:hover{
    	color: $lifesize
    }
    height: auto;
}
.meetHeight{
	height: auto;
}
.circle {
width: 100px;
height: 100px;
background: #F2F2F2;
-moz-border-radius: 70px;
-webkit-border-radius: 70px;
border-radius: 70px;
border: 2px solid $lifesize;
line-height:120px;
text-align:center;
vertical-align:middle;
display:inline-block;
}


.responsive-image-sm{
/*height:auto;*/
margin-bottom: 25px;
margin-left: 10px;
width:80px;
opacity: 0.8;
}

.lync{
	color:$lifesize;
}

.meetPad{
	padding-top: 2.5%;
}

.meetDwn{
	padding-top: 20px;
}

